<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизация</title>
    <div th:replace="fragments/htmlFragments::header"></div>
</head>
<body>
<div class="container-fluid">
    <div style="text-align: center">
        <div>Информация для студента</div>
        <div>
            <p th:text="${message}">Message</p>
        </div>
    </div>
</div>

</body>
</html>